
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Recetas</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Funciones</a></li>
        <li class="breadcrumb-item">Mantenimiento</li>
        <li class="breadcrumb-item active" aria-current="page">Recetas</li>
    </ol>
</div>

<div class="row" id="rowTable">
    <div class="col-12">
        <div class="card px-2 py-4">
            <div class="col-12 row">
                <h4 class="col-6 text-left">Lista de Menus</h4>
             
            </div>


            <table id="dtp" class="table table-bordered  dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            </table>
        </div>
    </div>
</div>


<div class="col-sm-9 d-none">
    <button type="button" id="btn-foto" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exampleModal">Modal</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="bg-primary modal-header text-white">
                <div class="col-12 text-center">
                    <h5 class="modal-title" id="exampleModalLabel">RECETA</h5>
                    <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <div class="modal-body">
                <div class="container-fluid" id="body-modal">

                    

                   

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-12" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/Receta/Pendientes.js"></script>