<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">RECETAS</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">RECETAS </li>
        </ol>
    </div>

    <div class="row" id="rowOcasion">


    </div>


    <div class="row" id="rowReceta" style="display: none;">


    </div>

    <div class="row" id="rowPreparacion" style="display: none;">


    </div>

</div>
<!---Container Fluid-->
@*<script src="~/Scripts/Receta/Receta.js"></script>*@

<script src="~/Scripts/Receta/Recetas.js"></script>
