<div class="col-12">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Recetas</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Funciones</a></li>
            <li class="breadcrumb-item">Mantenimiento</li>
            <li class="breadcrumb-item active" aria-current="page">Recetas</li>
        </ol>
    </div>

    <div class="col-12">


        <div class="card mb-4 row">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between col-12">
                <h6 class="m-0 font-weight-bold text-primary">Mantenimiento</h6>
            </div>
            <div class="card-body row col-12">

                <div class="form-group row col-6">
                    <label for="ID_Receta" class="col-sm-3 col-form-label">ID_Receta</label>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" data-field="Nombre" id="ID_Receta" disabled readonly>
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="Nombre" class="col-sm-3 col-form-label">Nombre Receta</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" data-field="Nombre" id="Nombre" placeholder="Nombre de Receta">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="Descripcion" class="col-sm-3 col-form-label">Descripcion</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Descripcion" placeholder="Escribir una breve descripcion">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="Preparacion" class="col-sm-3 col-form-label">Preparacion</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Preparacion" placeholder="Escribir la preparación a detalle">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="Foto" class="col-sm-3 col-form-label">Foto</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Foto" placeholder="Foto">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="Tips" class="col-sm-3 col-form-label">Tips</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Tips" placeholder="Tips de la receta">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="CantidadPersonas" class="col-sm-3 col-form-label">Para:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="CantidadPersonas" placeholder="Para cuantas personas">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="TiempoPreparacion" class="col-sm-3 col-form-label">Tiempo</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="TiempoPreparacion" placeholder="Tiempo de Preparacion">
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="UrlVideo" class="col-sm-3 col-form-label">UrlVideo</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="UrlVideo" placeholder="Enlace de video">
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label for="ID_Categoria" class="col-sm-3 col-form-label">ID_Categoria</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="ID_Categoria"></select>
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label for="ID_Dificultad" class="col-sm-3 col-form-label">ID_Dificultad</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ID_Dificultad" placeholder="Enlace de video">
                    </div>



                </div>


                <div class="form-group row col-6">
                    <label for="ID_Estilo" class="col-sm-3 col-form-label">ID_Estilo</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ID_Estilo" placeholder="Enlace de video">
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label for="ID_Ocasion" class="col-sm-3 col-form-label">ID_Ocasion</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ID_Ocasion" placeholder="Enlace de video">
                    </div>
                </div>


            </div>
        </div>


    </div>

</div>


<script src="~/Scripts/Receta/Mantenimiento.js"></script>
