@{
    ViewBag.Title = "Home Page";
}
<nav class="nav nav-pills flex-column flex-sm-row">
    <a style="font-weight:bold" class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="javascript:void(0)" onclick="AbrirMenu('Receta', 'Index')">Recetas</a>
    <a style="font-weight:bold" class="flex-sm-fill text-sm-center nav-link" href="javascript:void(0)" onclick="AbrirMenu('Receta', 'Mantenimiento')">Registra tu Receta</a>
    <a style="font-weight:bold" class="flex-sm-fill text-sm-center nav-link" href="#">Acerca de Nosotros</a>
</nav>
<div class="jumbotron">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Assets/img/Banners/1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Assets/img/Banners/2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Assets/img/Banners/3.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
<hr>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Entradas</h2>
        <p>
            Receta rápida de Causa de Atún, un crema fácil y fresca para mojar sin parar
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leer mas &raquo;</a></p>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/img/Menus/causa_entrada.jpg" alt="First slide">
        </div>
    </div>
    <div class="col-md-4">
        <h2>Postres</h2>
        <p>Canapés de níscalos con sobrasada: un aperitivo con setas otoñales (que también puede hacerse en Navidad)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leer mas &raquo;</a></p>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/img/Menus/cana.jpg" alt="First slide">
        </div>
    </div>
    <div class="col-md-4">
        <h2>Bebidas</h2>
        <p>Roscos de Limón: receta del tradicional receta Veraniega en versión casera (con y sin Thermomix)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/img/Menus/limonada_bebida.jpg" alt="Leer mas">
        </div>
    </div>
</div>

<br><br />
<br><br />

<div class="row">
    <div class="col-md-4">
        <h2>Sopas</h2>
        <p>Roscos de Limón: receta del tradicional receta Veraniega en versión casera (con y sin Thermomix)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/img/Menus/Caldo_sopa.jpg" alt="Leer mas">
        </div>
    </div>

    <div class="col-md-4">
        <h2>Platos de Fondo</h2>
        <p>Roscos de Limón: receta del tradicional receta Veraniega en versión casera (con y sin Thermomix)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Assets/img/Menus/lomo_fondo.jpg" alt="Leer mas">
        </div>
    </div>

</div>

