@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Assets/img/logo/logo.png" rel="icon">
    <title>RecetaAdmin - Inicio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/ruang-admin.min.css" rel="stylesheet">
    <link href="~/Assets/css/estilo-login.css" rel="stylesheet" />

</head>
<body class="fix-menu">



    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="align-items-center d-flex row">
                <div class="col-lg-6">
                    <div class="card1 pb-5">

                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="~/Assets/img/MENU CHU.png" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row px-3 mb-4">
                            <div class="line"></div> <small class="or text-center">O</small>
                            <div class="line"></div>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Direccion Email</h6>
                            </label> <input class="mb-4" type="text" name="email" id="txtEmail" placeholder="Ingrese Email valido">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Contraseña</h6>
                            </label> <input type="password" name="password" id="txtPassword" placeholder="Ingrese Contraseña">
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Recuerdame</label> </div>
                            <a href="#" class="ml-auto mb-0 text-sm">Olvide mi contraseña?</a>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" id="txtLogin">Login</button> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">No tiene una cuenta? <a class="text-danger " href="@Url.Action("Register", "Home")">Registrar</a></small> </div>
                    </div>
                </div>
            </div>
            <div class="bg-blue py-4">
                <div class="row px-3">
                    <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. Todos los derechos reservados.</small>
                    <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span></div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Assets/js/ruang-admin.js"></script>

    <script src="~/Assets/vendor/chart.js/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script src="~/Scripts/Seguridad/Authenticar.js"></script>


</body>
</html>